$font_family_1: 'Lato', sans-serif !default
$font_family_2: 'Dosis', sans-serif !default

$base_font_size: 16px !default

$font_weight_light: 100 !default
$font_weight_middle: 400 !default
$font_weight_bold: 600 !default
$font_weight_bolder: 700 !default
$font_weight_boldest: 900 !default


body 
  font-family: $font_family_1
  font-weight: $font_weight_light
  font-size: $base_font_size
  +respond-to(small)
    font-size: $base_font_size - 3 
h1 
  font-family: $font_family_2
  font-weight: $font_weight_bold
  font-size: 2em
p 
  line-height: 1.2
  letter-spacing: .17px
  word-spacing: .12em
  font-size: 1em
a  
  font-size: 1em 
.fittextjs  
  font-size: 1em 

// ---------------------------------- HEADER
#header-nav 
  font-weight: 700
  text-transform: uppercase
  font-size: 1.1em
  +respond-to(medium)
    font-size: .85em 
  +respond-to(small)
    font-size: .9em 
  +respond-to(smallest)
    font-size: .7em 
  .active-link  
    font-weight: $font_weight_boldest 

// -------------------------------- SECTIONS
.section 
  .header 
    line-height: 1
    text-transform: uppercase
    white-space: nowrap
  &.about  
    font-size: .9em
    .content p  
      word-spacing: .1em 
  &.contact .sub-header
    font-size: .9em
    font-weight: $font_weight_middle
    +respond-to(medium)  
      font-weight: $font_weight_light 
    
// ---------------------------------- FOOTER
footer.container 
  +respond-to(medium)  
    font-size: 13px 
  .site-info 
    font-weight: $font_weight_bolder
    font-size: .95em
    a
      font-weight: font_weight_boldest 
  .social-links 
    // otherwise webkit adds margin 1em 
    font-size: 0