/* OPTIMIZADO x width 1350px = design */
/* responsive.css x resto widths */

// ---------------------- ENJOY MONDAYS PATTERN */

// ------------------------------------- COLORS */

$theme_colors: (
  $LIGHT_GRAY: #E9E8E3,
  $DARK_GRAY: #3A3A3A,
  $DARK_BLUE: #363B48,
  $FUXSIA: #DF3F54,
  $LIGHT_FUXSIA: #F17C71
);


