/* OPTIMIZADO x width 1350px = design */
/* responsive.css x resto widths */

/* ********************** ENJOY MONDAYS PATTERN */
/* **************** BACKGROUNDS AND FONT COLORS */
/* LIGHT GRAY */
.bg-1 {
  background-color: #E9E8E3;
}
/* DARK GRAY */
.bg-2 {
  background-color: #3A3A3A;
}
/* DARK BLUE */
.bg-3 {
  background-color: #363B48;
}
/* FUXSIA */
.bg-4 {
  background-color: #DF3F54;
}
/* LIGHT FUXSIA */
.bg-5 {
  background-color: #F17C71;
}
/* BLACK */
.bg-black {
  background-color: #000;
}

/* ******************************** FONT COLORS */

/* LIGHT GRAY */
.color-1 {
  color: #E9E8E3;
}
/* DARK GRAY */
.color-2 {
  color: #393939;
}
/* DARK BLUE */
.color-3 {
  color: #363B48;
}
/* FUXSIA */
.color-4 {
  color: #DF3F54;
}
/* LIGHT FUXSIA */
.color-5 {
  color: #F17C71;
}

/* ***************************** FONTS FAMILIES */
/* 
/* lato light (100)
/* lato regular (400)
/* lato bold (700)
/* lato black (900)
/* dosis semibold (600)
 */

/* EVERYWHERE EXCEPT HEADERS AND LINKS */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-size: 130px;
  font-weight: 600;
}

/* ******************************************** */
/* ******************** SCROLL TO PAGE TEMPLATE */

/* ************************** SET MEASURES HERE */

/* ****************************** HEADER */

/* ***************** BIG */
.header_height_big .main_header,
.header_height_big .fixed_header_aux {
  height: 139px;
}
.header_height_big .fillheight {
  /* calc(100vh - x); x = .header_height_big .main_header height */
  min-height: calc(100vh - 139px);
}
.header_height_big .fillheight:nth-last-child(2) {
  /* calc(100vh - x - y); x = .header_height_big .main_header height; y = footer height */
  min-height: calc(100vh - 139px - 100px);
}
/* *************** SMALL */
.header_height_small .main_header,
.header_height_small .fixed_header_aux {
  height: 111px;
} 
.header_height_small .fillheight {
  /* calc(100vh - x); x = .header_height_small .main_header height */
  min-height: calc(100vh - 111px);	
}
.header_height_small .fillheight:nth-last-child(2) {
  /* calc(100vh - x - y); x = .header_height_small .main_header height; y = footer height */
  min-height: calc(100vh - 111px - 100px);
}
/* ******************************** LOGO */
.logo_small {
  width: 111px;
}
.logo_big {
  width: 149px;
}

/* ****************************** FOOTER */
.footer_height {
  height: 100px;
}


/* ******************************************** */
/* *********************************** DEFAULTS */
.ui-loader {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
h1 {
  text-align: right;
  text-transform: uppercase;
}
img {
  width: 100%;
  height: auto;
}
/* ******************************************** */
/* **************************** GENERAL CLASSES */
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.fixed {
  position: fixed;
  z-index: 1000;
}
.hidden {
  display: none;
}
.fillwidth {
  width: 100%;
  max-width: 1350px;
}
.fillheight {
  min-height: 100%;
}
.fullheight {
  height: 100vh;
}
.centered {
  position: relative;
  top: 50%;
  margin-top: 0 !important; /* use padding if needed */
  transform: translateY(-50%);
}
/* to override centered, use 
  transform: none;
  position: static; -optional-
*/
.top: {
  top: 0;
}
.screen-reader-text { 
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0;
}
.img-wrapper {
  height: auto;
}

/* ******************************************** */
/* ******************************** BASE LAYOUT */
html {
  height: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.fullwrapper {
  max-width: 1356px;
  margin: auto;
}
.wrapper > *.right,
.content {
  margin-right: 82px; 
}
.wrapper > *.left,
.content {
  margin-left: 70px;
}
.wrapper::after {
  clear: both;
}
.page {
  height: 100%;
  text-align: right;
}t
.page header {
  display: inline-block;
  max-height: 100%;
}
.page .sub-header {
  text-align: center;
}
.page .header_hr {
  border: 0;
  height: 3px;
  width: 100px;
  margin: 0 auto 13px;
  clear: both;
}
/* override */
.pages {
  height: 100%;
}

/* ******************************** */
/* *************************** GRID */
.tiles {
  margin-bottom: 127px;
  padding-left: 115px;
  padding-right: 115px;
}
.tiles .tile {
  display: inline-block;
  width: 465px;
  height: 385px;
  margin-bottom: 34px;
}
.tiles .tile:nth-child(odd) {
  float: left;
}
.tiles .tile:nth-child(even) {
  float: right;
}
.tiles .tile:hover {
  cursor: pointer;
}
.tiles .tile a {
  display: block;
  position: relative;
  height: auto;
  /* remove extra height otherwise adds to tile */
  /* define font-size again other than a */
  font-size: 0;
}
/* img hover animation */
.tiles img {
  transition: transform 0.4s;
}
.no-touch .tiles .tile:hover img, 
.tiles .tile.cs-hover img {
  transform:  translate(-70px, -56px) scale(0.7);
}
/* details */
.tiles .details-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* redefine font-size put to 0 on parent a */
  font-size: 30px;
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 1s;
}
.tiles .details-wrapper:hover {
  opacity: 1;
}
.tiles .details-wrapper h3 {
  font-size: 1em;
  /* override h3 */
  text-align: left;
}
.tiles .details-wrapper .details {
  position: absolute;
  bottom: 0;
}
.tiles .details-wrapper p {
  font-size: 0.5em;
}
.tiles .details-wrapper span {
  font-size: .75em;
}


/* ******************************************** */
/* **************** RESPONSIVE HEADLINES CONFIG */
/* ********************* for width => 1350px !! */

h1 {
  line-height: 1.33;
  font-size: inherit;
}
p {
	font-size: .2em;
}

/* ******************************** */
/* ****** RESPONSIVE HEADLINES HOME */
#home .centered {
  transform: none;
}
#home .fittextjs {
  width: 560px;
  height: 332px;
  margin-top: 155px;
  margin-bottom: 144px;
}
#home .fittextjs h1 {
  line-height: 1.02;
}
#home .fittextjs p {
  font-size: .156em;
}  

/* ******************************** */
/* ****** RESPONSIVE HEADLINES WORK */
#work .fittextjs {
  width: 390px;
  height: 167px;
  margin-top: 68px;
  margin-bottom: 97px;
}
#work .fittextjs h1 {
  line-height: .8;
  margin-bottom: 31px;
}
#work .fittextjs .header_hr {
  margin-bottom: 11px;
}
#work .fittextjs p {
  font-size: .15em;
  line-height: .75;
}

/* ******************************** */
/* ***** RESPONSIVE HEADLINES ABOUT */
#about .fittextjs {
  width: 510px;
  height: 240px;
  margin-top: 167px;
  margin-bottom: 184px;
}
#about .fittextjs h1 {
  line-height: .69;
  margin-bottom: 40px;
}
#about .fittextjs .header_hr {
  margin-bottom: 11px;
}
#about .fittextjs p {
  padding: 0 12px;
  font-size: .135em;
  line-height: 1.4;
}

/* ******************************** */
/* *** RESPONSIVE HEADLINES CONTACT */
#contact .centered {
  transform: none;
}
#contact .fittextjs {
  width: 1202px;
  height: 353px;
  padding-top: 166px;
  padding-bottom: 250px;
}
#contact .fittextjs h1 {
  display: inline-block;
  line-height: 1;
  margin-bottom: 19px;
}
#contact .fittextjs .s-header-one {
  width: 569px;
  height: 97px;
  margin-bottom: 33px;
  margin-right: -8px;
  font-size: 1.2em;
  line-height: 0.75;
  letter-spacing: 4px;
}
#contact .fittextjs .s-header-two {
  width: 1202px;
  height: 90px;
  font-size: .98em;
  line-height: 0.75;
  letter-spacing: 1.2px;
}
#contact .fittextjs .sub-header {
  width: 486px;
  margin-top: -23px;
  margin-right: 41px;
}
#contact .fittextjs .header_hr {
  margin-bottom: 17px;
}
#contact .fittextjs p {
  height: 97px;
  font-size: .165em;
  line-height: 1.5;
  letter-spacing: .17px;
}

/* ******************************************** */
/* ******************************** MAIN HEADER */

/* ******************************** */
/* *************************** LOGO */
#logo .img-wrapper {
  display: block;
}
.logo_big {
  margin-top: 40px;
}
.logo_small {
  margin-top: 18px; 
}

/* ******************************** */
/* *********************** MENU NAV */
#header-nav {
  margin-top: 85px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
#header-nav li {
  float: left;
  margin-left: 8px;
}
#header-nav a {
  display: block;
  /* to avoid jumps on hover */
  /* difference is border size */
  padding: 30px 24px;
  margin: -30px -20px;
  color: inherit;
}
#header-nav .active-link {
  font-weight: 900;
  /* has to override .touch class no border */
  border-bottom: solid #DF3F54 3px !important; 
}
#header-nav li:hover {
  font-weight: 900;
  /* .touch has to override this */
  border-bottom: solid #DF3F54 3px; 
}

/* ******************************** */
/* ***************** MENU COLLAPSED */
#collapsed-menu {
  margin-top: 40px;
}
#collapsed-menu img {
  /* icon size */
  width: 23px;
  height: 19px;
  /* to avoid jumps on hover */
  padding: 30px;
  margin: -30px;
}
#collapsed-menu:hover {
  cursor: pointer;
}

/* ******************************** */
/* ****************** MENU EXPANDED */
#header-nav.expanded {
  display: block;
  margin-top: 40px;
}

/* ******************************************** */
/* *********************************** SECTIONS */

/* ******************************** */
/* *************************** HOME */
#home {
  padding-top: 10px; 
}
#home header {
  padding-right: 4px;
}

#smile {	
  position: relative;
  left: 16px;
  top: 11px;
  width: auto;
  height: 0.456em;
}

/* ******************************** */
/* ************************** ABOUT */
#about .content {
  padding-left: 114px;
  padding-right: 101px;
  margin-bottom: 157px;
  text-align: center;
}
#about .content article {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
#about .content article:first-child {
  float: left;
}
#about .content article:last-child {
  float: right;
}
#about .content .img-wrapper {
  width: 248px;
  height: 248px;
  margin: 0 auto 24px;
}
#about .content hr {
  width: 50px;
  margin: 0 auto 14px;
}
#about .content p {
  max-width: 314px;
  margin: auto;
  font-size: 1.02em;
  line-height: 1.4;
}

/* ******************************** */
/* ************************ CONTACT */
#contact .sub-header {
  font-weight: 400;
}

/* ******************************************** */
/* ************************************* FOOTER */
footer p {
  padding-left: 7px;
  font-weight: 700;
  font-size: 16px;
}
footer a {
  font-weight: 900;
}
#social {
  padding-right: 7px;
  /* otherwise webkit adds margin 1em */
  font-size: 0;
}
#social li {
  display: inline-block;
  padding-left: 6px;
}
#social a {
  width: 32px;
  height: 32px;
}
#social li:hover {
  cursor: pointer;
}

/* ******************************************** */
/* **************************** PROJECT gallery */
.view-2 {
  /* initial state */
  display: none;
}
#closeGallery a {
  width: 56px;
  height:56px;
  background:transparent url(../images/close.png) no-repeat top right;
  background-size: 100%;
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 0;
}

