
/* ******************************** */
/* *** RESPONSIVE HEADLINES CONTACT */
#contact .centered {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
#contact .fittextjs {
  width: 1202px;
  height: 353px;
  padding-top: 166px;
  padding-bottom: 250px;
}
#contact .fittextjs h1 {
  display: inline-block;
  line-height: 1;
  margin-bottom: 19px;
}
#contact .fittextjs .s-header-one {
  width: 569px;
  height: 97px;
  margin-bottom: 33px;
  margin-right: -8px;
  font-size: 1.2em;
  line-height: 0.75;
  letter-spacing: 4px;
}
#contact .fittextjs .s-header-two {
  width: 1202px;
  height: 90px;
  font-size: .98em;
  line-height: 0.75;
  letter-spacing: 1.2px;
}
#contact .fittextjs .sub-header {
  width: 486px;
  margin-top: -23px;
  margin-right: 41px;
}
#contact .fittextjs .header_hr {
  margin-bottom: 17px;
}
#contact .fittextjs p {
  height: 97px;
  font-size: .165em;
  line-height: 1.5;
  letter-spacing: .17px;
}



/* ******************************************** */
/* *********************************** SECTIONS */



/* ******************************** */
/* ************************** ABOUT */
#about .content {
  padding-left: 114px;
  padding-right: 101px;
  padding-bottom: 157px;
  text-align: center;
}
#about .content article {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
#about .content article:first-child {
  float: left;
}
#about .content article:last-child {
  float: right;
}
#about .content .img-wrapper {
  width: 248px;
  height: 248px;
  margin: 0 auto 24px;
}
#about .content hr {
  width: 50px;
  margin: 0 auto 14px;
}
#about .content p {
  max-width: 314px;
  margin: auto;
  font-size: 1.02em;
  line-height: 1.4;
}

/* ******************************** */
/* ************************ CONTACT */
#contact .sub-header {
  font-weight: 400;
}



/* ******************************************** */
/* **************************** PROJECT gallery */
#slideshow {
  /* initial state */
  display: none;
}
#closeGallery a {
  width: 56px;
  height:56px;
  background:transparent url(../images/close.png) no-repeat top right;
  background-size: 100%;
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 0;
}

