/* OPTIMIZADO x width 1350px = desigh */
/* responsive.css x resto widths */

/* ******************************************** */
/* **************** BACKGROUNDS AND FONT COLORS */
.light_gray_bg {
  background-color: #E9E8E3;
}
.dark_gray_bg {
  background-color: #3A3A3A;
}
.dark_blue_bg {
  background-color: #363B48;
}
.fuxsia_bg {
  background-color: #DF3F54;
}
.light_fuxsia_bg {
  background-color: #F17C71;
}

.light_gray_color {
  color: #E9E8E3;
}
.dark_gray_color {
  color: #393939;
}
.dark_blue_color {
  color: #363B48;
}
.fuxsia_color {
  color: #DF3F54;
}
.light_fuxsia_color {
  color: #F17C71;
}
/* ******************************************** */
/* *********************************** DEFAULTS */
.ui-loader {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: black;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-size: 130px;
  font-weight: 600;
  text-align: right;
}
h1 {
  text-transform: uppercase;
}
p {
  font-size: .2em;
}
/* ******************************************** */
/* ************************************ CLASSES */
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.fixed {
  position: fixed;
}
.fullwidth {
  width: 100%;
  max-width: 1350px;
}
.screen-reader-text { 
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0;
}
.hidden {
  display: none;
}
.fullheight {
  /* = total - header height */
  height: calc(100vh - 139px);
  min-height: 100%;
}
.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.top: {
  top: 0;
}

/* ******************************************** */
/* ******************************** BASE STYLES */

/* ************ fonts */
/* lato light (100)
/* lato regular (400)
/* lato bold (700)
/* lato black (900)
/* dosis semibold (600)
 */

/* ******************************************** */
/* ******************************** BASE LAYOUT */
html {
  height: 100%;
}
body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.fullwrapper {
  max-width: 1356px;
  margin: auto;
}
.wrapper > *.right {
  margin-right: 82px; 
}
.wrapper > *.left {
  margin-left: 70px;
}
.wrapper::after {
  clear: both;
}
.page {
  /* = total - header height */
  min-height: calc(100vh - 139px);
  text-align: right;
  height: 100%;
}
.page header {
  display: inline-block;
  max-height: 100%;
}
.page .sub-header {
	text-align: center;
}
.content {
  /* same as .wrapper .left */
  margin-left: 70px;
  /* same as .wrapper .right */
  margin-right: 82px;
}
.header_hr {
  border: 0;
  height: 3px;
  width: 100px;
  margin: 0 auto 13px;
  clear: both;
}
/* ******************************************** */
/* ************************************** COVER */
#cover {
  display: none;
  height: 100vh;
  background-color: black;
}

/* ******************************************** */
/* **************** RESPONSIVE HEADLINES CONFIG */
h1 {
  line-height: 1.33;
  font-size: inherit;
}
p {
	font-size: .2em;
}

/* ******************************** */
/* ****** RESPONSIVE HEADLINES HOME */
#home .centered {
  transform: none;
}
#home .responsive_headline {
  width: 560px;
  height: 332px;
  margin-top: 155px;
  margin-bottom: 144px;
}
#home .responsive_headline h1 {
  line-height: 1.02;
}
#home .responsive_headline p {
  font-size: .156em;
}  

/* ******************************** */
/* ****** RESPONSIVE HEADLINES WORK */
#work .responsive_headline {
  width: 390px;
  height: 167px;
  margin-top: 68px;
  margin-bottom: 97px;
}
#work .responsive_headline h1 {
  line-height: .8;
  margin-bottom: 31px;
}
#work .responsive_headline hr {
  margin-bottom: 11px;
}
#work .responsive_headline p {
  font-size: .15em;
  line-height: .75;
}

/* ******************************** */
/* ***** RESPONSIVE HEADLINES ABOUT */
#about .responsive_headline {
  width: 510px;
  height: 240px;
  margin-top: 167px;
  margin-bottom: 184px;
}
#about .responsive_headline h1 {
  line-height: .69;
  margin-bottom: 40px;
}
#about .responsive_headline hr {
  margin-bottom: 11px;
}
#about .responsive_headline p {
  padding: 0 12px;
  font-size: .135em;
  line-height: 1.4;
}

/* ******************************** */
/* *** RESPONSIVE HEADLINES CONTACT */
#contact .centered {
  transform: none;
}
#contact .responsive_headline {
  width: 1202px;
  height: 353px;
  padding-top: 166px;
  padding-bottom: 250px;
}
#contact .responsive_headline h1 {
  display: inline-block;
  line-height: 1;
  margin-bottom: 19px;
}
#contact .responsive_headline .s-header-one {
  width: 569px;
  height: 97px;
  margin-bottom: 33px;
  margin-right: -8px;
  font-size: 1.2em;
  line-height: 0.75;
  letter-spacing: 4px;
}
#contact .responsive_headline .s-header-two {
  width: 1202px;
  height: 90px;
  font-size: .98em;
  line-height: 0.75;
  letter-spacing: 1.2px;
}
#contact .responsive_headline .sub-header {
  width: 486px;
  margin-top: -23px;
  margin-right: 41px;
}
#contact .responsive_headline hr {
  margin-bottom: 17px;
}
#contact .responsive_headline p {
  height: 97px;
  font-size: .165em;
  line-height: 1.5;
  letter-spacing: .17px;
}

/* ******************************************** */
/* ******************************** MAIN HEADER */
#main-header {
  overflow: visible;
}
#main-header.top.fixed {
  height: 139px;
  z-index: 1000;
}
#fixed-header-aux {
	height: 139px;
}

/* ******************************** */
/* *************************** LOGO */
#logo {
  margin-top: 40px;
}
#logo .img-wrapper {
  display: block;
  height: auto;
}
#logo.big {
  margin-top: 40px;
  width: 149px;	
}
#logo.small {
  width: 111px;
  margin-top: 18px; 
}
#logo img {
  width: 100%;
  height: auto;
}

/* ******************************** */
/* *********************** MENU NAV */
#header-nav {
  margin-top: 85px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
#header-nav li {
  float: left;
  margin-left: 8px;
}
#header-nav a {
  display: block;
  /* to avoid jumps on hover */
  /* difference is border size */
  padding: 30px 24px;
  margin: -30px -20px;
  color: inherit;
}
#header-nav .active-link {
  font-weight: 900;
  /* has to override .touch class no border */
  border-bottom: solid #DF3F54 3px !important; 
}
#header-nav li:hover {
  font-weight: 900;
  /* .touch has to override this */
  border-bottom: solid #DF3F54 3px; 
}

/* ******************************** */
/* ***************** MENU COLLAPSED */
#collapsed-menu {
  margin-top: 40px;
}
#collapsed-menu img {
  /* icon size */
  width: 23px;
  height: 19px;
  /* to avoid jumps on hover */
  padding: 30px;
  margin: -30px;
}
#collapsed-menu:hover {
  cursor: pointer;
}

/* ******************************** */
/* ****************** MENU EXPANDED */
#header-nav.expanded {
  display: block;
  margin-top: 40px;
}

/* ******************************************** */
/* *********************************** SECTIONS */

/* ******************************** */
/* *************************** HOME */
#home {
  padding-top: 10px; 
}
#home header {
  padding-right: 4px;
}

#smile {	
  position: relative;
  left: 16px;
  top: 11px;
  height: 0.456em;
}

/* ******************************** */
/* *************** WORK - PORTFOLIO */
#portfolio {
  margin-bottom: 127px;
  padding-left: 115px;
  padding-right: 115px;
}
#portfolio .tile {
  display: inline-block;
  width: 465px;
  height: 385px;
  margin-bottom: 34px;
}
#portfolio .tile:nth-child(odd) {
  float: left;
}
#portfolio .tile:nth-child(even) {
  float: right;
}
#portfolio .tile:hover {
  cursor: pointer;
}
#portfolio .tile a {
  display: block;
  position: relative;
  height: auto;
  /* remove extra height otherwise adds to tile */
  /* define font-size again other than a */
  font-size: 0;
}
/* img hover animation */
#portfolio img {
  width: 100%;
  transition: transform 0.4s;
}
.no-touch #portfolio .tile:hover img, 
#portfolio .tile.cs-hover img {
  transform:  translate(-70px, -56px) scale(0.7);
}
/* details */
#portfolio .details-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* redefine font-size put to 0 on parent a */
  font-size: 30px;
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 1s;
}
#portfolio .details-wrapper:hover {
  opacity: 1;
}
#portfolio .details-wrapper h3 {
  font-size: 1em;
  /* override h3 */
  text-align: left;
}
#portfolio .details-wrapper .details {
  position: absolute;
  bottom: 0;
}
#portfolio .details-wrapper p {
  font-size: 0.5em;
}
#portfolio .details-wrapper span {
  font-size: .75em;
}

/* ******************************** */
/* ************************** ABOUT */
#about .content {
  padding-left: 114px;
  padding-right: 101px;
  margin-bottom: 157px;
  text-align: center;
}
#about .content article {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
#about .content article:first-child {
  float: left;
}
#about .content article:last-child {
  float: right;
}
#about .content .img-wrapper {
  width: 248px;
  height: 248px;
  margin: 0 auto 24px;
}
#about .content .img-wrapper img {
  width: 100%;
}
#about .content hr {
  width: 50px;
  margin: 0 auto 14px;
}
#about .content p {
  max-width: 314px;
  margin: auto;
  font-size: 1.02em;
  line-height: 1.4;
}

/* ******************************** */
/* ************************ CONTACT */
#contact .sub-header {
  font-weight: 400;
}

/* ******************************************** */
/* ************************************* FOOTER */
footer {
  height: 100px;
  width: 100%;
}
footer p {
  padding-left: 7px;
  font-weight: 700;
  font-size: 16px;
}
footer a {
  font-weight: 900;
}
#social {
  padding-right: 7px;
  /* otherwise webkit adds margin 1em */
  font-size: 0;
}
#social li {
  display: inline-block;
  padding-left: 6px;
}
#social a {
  width: 32px;
  height: 32px;
}
#social a img {
  width: 100%;
}
#social li:hover {
  cursor: pointer;
}

/* ******************************************** */
/* **************************** PROJECT gallery */
#slideshow {
  /* initial state */
  display: none;
}
#closeGallery a {
  width: 56px;
  height:56px;
  background:transparent url(../images/close.png) no-repeat top right;
  background-size: 100%;
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 0;
}

