
/* //////////////////////////////////////////////// MAX WIDTH 1350px //// */
@media screen and (max-width: 1350px) {
  /* ******************************************** */
  /* ******************************** BASE LAYOUT */ 
  .wrapper > *.right {
    margin-right: 6%; 
  }
  .wrapper > *.left {
    margin-left: 5%;
  }
  .content {
    margin-right: 6%;
    margin-left: 5%;
  }

  /* ******************************** */
  /* *************************** GRID */
  .tiles {
    margin-bottom: 11%;
    padding-left: 8%;
    padding-right: 8%; 
  }
  .tiles .tile,
  .tiles .tile a,
  .tiles img,
  .tiles .details-wrapper {
    width: 34vw;
    height: 100%;
  }


  /* ******************************************** */
  /* ******************************** MAIN HEADER */
  #header-nav {
  /*  margin-top: 7%;*/
  }
  #collapsed-menu {
    /*margin-top: 3.3%;*/
  }

  /* ******************************** */
  /* ****** RESPONSIVE HEADLINES HOME */
  #home .fittextjs {
    width: 40%;
    height: auto;
  /*  margin-top: 20%;*/
    margin-bottom: 0;
  }

  /* ******************************** */
  /* ****** RESPONSIVE HEADLINES WORK */
  #work.page .fittextjs {
    width: 31%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 8%;
  }
  #work.page .fittextjs h1 {
    margin-bottom: 8%;
  }
  #work.page .fittextjs hr {
    margin-bottom: 3%;
  }  

  /* ******************************** */
  /* ***** RESPONSIVE HEADLINES ABOUT */
  #about .fittextjs {
    width: 41%;
    height: auto;
    margin-top: 14%;
    margin-bottom: 15%;
  }
  #about.page .fittextjs h1 {
    margin-bottom: 8%;
  }
  #about.page .fittextjs hr {
    margin-bottom: 2%;
  }
  #about.page .fittextjs p {
    padding: 0 2%;
  }
  /* ******************************** */
  /* ************************** ABOUT */
  #about .content {
    padding-left: 9%;
    padding-right: 8%;
    margin-bottom: 12%;
  }
  #about .content article {
    width: 28%;
  }
  #about .content .img-wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto 8%;
  }
  #about .content hr {
    margin: 0 auto 5%;
  }

  /* ******************************** */
  /* *** RESPONSIVE HEADLINES CONTACT */
  #contact .fittextjs {
    width: 88%;
    height: auto;
    padding-top: 13%;
    padding-bottom: 20%;
  }
  #contact .fittextjs h1 {
    margin-bottom: 4%;
  }
  .pages #contact .fittextjs .s-header-one {
    width: 49%;
    height: auto;
    margin-bottom: 2.7%;
    margin-right: -8px;
  }
  .pages #contact .fittextjs .s-header-two {
    width: 100%;
    height: auto;
    font-size: .96em;
  }
  .pages #contact .fittextjs .sub-header {
    width: 44%;
    margin-top: -2%;
    margin-right: 4%;
  }
  .pages #contact .fittextjs hr {
    margin-bottom: 3%;
  }
  .pages #contact .fittextjs p {
    height: auto;
  }
}






/* ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// MAX WIDTH 480px //// */
@media screen and (max-width: 480px) {
  /* ******************************************** */
  /* ******************************** BASE LAYOUT */
  body {
    font-size: 17px;
  }
  h1 {
    font-size: 0.88em;
  }
  .wrapper > *.left {
    margin-left: 2%;
  }
  .wrapper > *.right {
    margin-right: 2%;
  }
  .page {
    text-align: center;
    padding: 0 5px;
  }
  #pages .page .fittextjs {
    float: none;
    width: 95%;
    margin: 0 auto;
    padding: 12% 0;
    text-align: center;
  }
  #pages .page .fittextjs h1 {
    margin-bottom: 0;
    text-align: center;
    line-height: 1;
  } 
  #pages .page .fittextjs .header_hr {
    width: 15%;
    margin-top: 2%;
  }

  /* ******************************** */
  /* *************************** GRID */
  .tiles {
    margin: 0 2px 11%;
    padding: 8% 0;
  }
  .tiles .tile, 
  .tiles .tile a, 
  .tiles img, 
  .tiles .details-wrapper {
    width: 100%;
    height: 100%;
  }
  .tiles .thumb {
    width: 85%;
    transition: transform 0.4s;
    margin: auto;
  }
  /* modifiy hover effect to center img */
  .no-touch .tiles.all-left .tile:hover img, 
  .tiles.all-left .tile.cs-hover img,
  .no-touch .tiles.left-right .tile:nth-child(even):hover img, 
  .tiles.left-right .tile.cs-hover:nth-child(even) img,
  .no-touch .tiles.left-right .tile:nth-child(odd):hover img, 
  .tiles.left-right .tile.cs-hover:nth-child(odd) img {
    transform: translate(0, -50px) scale(0.7);
  }
  .tiles .details {
    width: 100%;
    text-align: center;
  }
  .tiles .details-wrapper .title {
    font-size: .75em;
  }
  .tiles.all-left .details-wrapper .title,
  .tiles.left-right .tile:nth-child(even) .title,
  .tiles.left-right .tile:nth-child(odd) .title {
    text-align: center;
  }
  .tiles .details-wrapper p {
    margin-top: 1%;
    font-size: .5em;
    line-height: 1.1;
    margin-bottom: -3%;
  }
  .tiles .details-wrapper span {
    font-size: .55em;
  }

  /* ******************************************** */
  /* ******************************** MAIN HEADER */
  
  /* stack and center logo and menu */
  .main_header {
    text-align: center;
  }
  .header_height_small .main_header,
  .header_height_big .main_header {
    height: auto;
    padding-bottom: 3%;
  }

  /* ******************************** */
  /* *************************** LOGO */
  /* needs id to override */
  #logo.logo_big {
    display: block;
    float: none;
    margin: 2.5% auto;
  }

  #logo.logo_small {
    float: none;
    margin: 4% auto;
  }

  /* ******************************** */
  /* *********************** MENU NAV */
  #header-nav {
    display: inline-block;
    float: none;
    margin: auto;
    font-size: 0.76em;
  }
  #header-nav li:first-child {
    margin-left: 0;
  }

  /* ******************************** */
  /* ***************** MENU COLLAPSED */
  #collapsed-menu {
    display: none;
  }

  /* ******************************** */
  /* ****************** MENU EXPANDED */
  #header-nav.expanded {
    display: block;
    margin: 10% 0;
  }

  /* ******************************** */
  /* *************************** HOME */
  #home .fittextjs {
  /*  top: 25vh;*/
  }
  .pages #home .fittextjs span {
    display: block;
    float: none;
  }
  .pages #home .sub-header {
    float: none;
    width: 100%;
    margin: auto;
    font-size: 1.2em;
  }
  #smile {
    left: 2vw;
    top: 1vh;
  }
  /* ******************************** */
  /* *************************** WORK */
  .pages #work .fittextjs h1 { 
    font-size: .78em;
  }
  
  
  /* ******************************** */
  /* ************************** ABOUT */
  #about.page .fittextjs p {
    font-size: .18em;
  }
  #about.page .fittextjs p br {
    display: none;
  }
  .pages #about .content {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .pages #about .content article {
    width: 70%; 
    margin: 36px auto;
  }
  .pages #about .content article:first-child,
  .pages #about .content article:last-child {
    float: none;
  }
  
  /* ******************************** */
  /* ************************ CONTACT */
  .pages #contact .fittextjs .sub-header {
    width: 76%;
  }
  .pages #contact .fittextjs .s-header-one {
    display: inline-block;
    float: none;
    width: 100%;
    text-align: right;
    font-size: 2em;
  }
  .pages #contact .fittextjs .s-header-two {
    display: inline-block;
    float: none;
    margin-right: 0;
    text-align: right;
    font-size: 1.05em;
  }
  .pages #contact .fittextjs .sub-header {
    float: none;
    width: 93%;
    margin: auto;
  }

  .pages #contact .fittextjs hr {
    margin-top: 0;
  }
  .pages #contact .fittextjs p {
    font-size: .5em;
  }

  /* ******************************************** */
  /* ************************************* FOOTER */
  /* stack and center */
  /* breaks under 190px */
  footer {
    text-align: center;
  }
  footer p {
    padding: 0;
    font-size: .65em;
  }
  footer.wrapper .left,
  footer.wrapper .right {
    display: inline-block;
    float: none;
    margin: 0 0 2%;
    padding: 4% 0 0;
  }
  footer .centered {
    position: static;
    transform: none;
  }
}



/* ////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////?///////// MAX WIDTH 350px //// */
@media screen and (max-width: 350px) {
  /* ******************************** */
  /* *************************** LOGO */
  /* center logo and one size only */
  #logo.logo_big {
    width: 29%;
  }
  #logo.logo_small {
    width: 25%;
  }

  /* ******************************** */
  /* *********************** MENU NAV */
  #header-nav {
    font-size: .6em;
  }
  #header-nav a {
    padding: 30px 21px; /* breaks under 226px */
  }

  /* ******************************** */
  /* ************************ CONTACT */
  #contact .sub-header p {
    font-size: .5em;
  }
  #contact .fittextjs .s-header-two {
    width: 92%;
    margin-right: -8%;
    font-size: 2em;
    line-height: 1;
    word-wrap: break-word;
  }
}

