body {
  background-color: #E9E8E3;
  color: #3A3A3A; }
  body #main-header {
    background-color: #E9E8E3; }
    body #main-header li.active-link {
      border-bottom: solid #DF3F54 3px !important; }
    body #main-header li:hover {
      border-bottom: solid #DF3F54 3px; }
    body #main-header li.no-touch {
      border-bottom: none; }
    body #main-header li a {
      color: #3A3A3A; }
  body .home.section {
    background-color: #E9E8E3;
    color: #3A3A3A; }
    body .home.section hr {
      background-color: #3A3A3A; }
  body .work.section {
    background-color: #3A3A3A;
    color: #E9E8E3; }
    body .work.section hr {
      background-color: #DF3F54; }
  body .about.section {
    background-color: #363B48;
    color: #E9E8E3; }
    body .about.section hr {
      background-color: #DF3F54; }
    body .about.section .content hr {
      background-color: #E9E8E3; }
  body .contact.section {
    background-color: #DF3F54;
    color: #E9E8E3; }
    body .contact.section hr {
      background-color: #F17C71; }
  body footer {
    background-color: #3A3A3A;
    color: #E9E8E3; }
    body footer a {
      color: #DF3F54; }

.section:before, .section:after {
  content: "";
  display: table; }
.section:after {
  clear: both; }
.section {
  zoom: 1; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

img {
  width: 100%;
  height: auto; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  clear: both; }

.hidden {
  display: none; }

.screen-reader-text {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0; }

.img-wrapper {
  height: auto;
  display: block; }

footer.container {
  height: 100px; }
  @media screen and (max-width: 650px) {
    footer.container {
      font-size: 13px; } }
  footer.container > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media screen and (max-width: 650px) {
      footer.container > div {
        display: block;
        width: 100%;
        margin: 3% auto 1%;
        transform: none;
        top: 0; } }
  footer.container .site-info {
    float: left;
    font-weight: 700;
    font-size: .95em; }
    footer.container .site-info a {
      font-weight: 900; }
  footer.container .social-links {
    float: right;
    /* otherwise webkit adds margin 1em */
    font-size: 0; }
    footer.container .social-links li {
      display: inline-block;
      padding-left: 6px; }
      footer.container .social-links li:hover {
        cursor: pointer; }
      footer.container .social-links li:first-child {
        padding-left: 0; }
      footer.container .social-links li a {
        width: 32px;
        height: 32px; }

.home.section .container {
  min-height: 350px;
  height: calc(100vh - 139px); }
  @media screen and (max-width: 480px) {
    .home.section .container {
      height: calc(100vh - 100px); } }
  @media screen and (max-width: 350px) {
    .home.section .container {
      height: calc(100vh - 80px); } }
.home.section .header {
  position: relative;
  width: 46.66667%; }
  @media screen and (min-width: 350px) and (min-height: 500px) {
    .home.section .header {
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }
  @media screen and (max-width: 750px) and (min-height: 500px) {
    .home.section .header {
      width: 60%; } }
  @media screen and (max-width: 650px) {
    .home.section .header {
      width: 100%; } }
  @media screen and (max-width: 350px) {
    .home.section .header {
      margin-top: 5%; } }
  .home.section .header h1:first-child::before {
    content: " ";
    width: .55em;
    height: .5em;
    display: inline-block;
    background: url("../images/smile.png") no-repeat 2.5% 34%;
    background-size: contain;
    position: relative;
    top: .1em; }
  @media screen and (max-width: 350px) {
    .home.section .header h1 {
      font-size: .9em; } }
  .home.section .header .sub-header {
    float: right; }
    @media screen and (max-width: 480px) {
      .home.section .header .sub-header {
        float: none;
        font-size: .2em; } }

.work .header {
  width: 32.5%;
  padding: 68px 0 97px; }
  @media screen and (max-width: 1350px) {
    .work .header {
      padding: 5% 0 8%; } }
  .work .header h1 {
    text-align: center; }
.work .content .details-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
  /* redefine font-size put to 0 on parent a */
  font-size: 30px; }
  @media screen and (max-width: 650px) {
    .work .content .details-wrapper {
      font-size: 22px; } }
  @media screen and (max-width: 480px) {
    .work .content .details-wrapper {
      font-size: 30px; } }
  .work .content .details-wrapper:hover {
    opacity: 1; }
  .work .content .details-wrapper .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .work .content .details-wrapper .title {
    font-size: 1em; }
    @media screen and (max-width: 480px) {
      .work .content .details-wrapper .title {
        font-size: .75em; } }
  .work .content .details-wrapper p {
    font-size: 0.5em; }
    @media screen and (max-width: 480px) {
      .work .content .details-wrapper p {
        margin-top: 1%;
        font-size: .5em;
        line-height: 1.1; } }
.work .content .tile:hover img {
  -webkit-transform: translate(0, -33px) scale(0.55);
  -ms-transform: translate(0, -33px) scale(0.55);
  transform: translate(0, -33px) scale(0.55); }
  @media screen and (max-width: 480px) {
    .work .content .tile:hover img {
      -webkit-transform: translate(0, -50px) scale(0.8);
      -ms-transform: translate(0, -50px) scale(0.8);
      transform: translate(0, -50px) scale(0.8); } }
.work .content .tile img {
  -webkit-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  transition: transform 0.4s; }
.work .content .tile:hover {
  cursor: pointer; }
.work .content .tile a {
  display: block;
  position: relative;
  width: 95%;
  margin: auto;
  /* remove extra height otherwise adds to tile */
  font-size: 0;
  color: inherit; }
  @media screen and (max-width: 480px) {
    .work .content .tile a {
      width: 100%; } }

#slideshow {
  display: none; }

#closeGallery a {
  width: 56px;
  height: 56px;
  background: transparent url(../images/close.png) no-repeat top right;
  background-size: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0; }

.about.section .header {
  width: 44.16667%;
  padding: 167px 0 184px; }
  @media screen and (max-width: 1350px) {
    .about.section .header {
      padding: 6% 0 12%; } }
  @media screen and (max-width: 650px) {
    .about.section .header {
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .about.section .header {
      width: 100%; } }
  @media screen and (min-width: 650px) {
    .about.section .header .sub-header {
      font-size: .13em; } }
.about.section .content .img-wrapper {
  width: 70%;
  margin: 0 auto 8%; }
.about.section .content hr {
  width: 15%;
  margin: 0 auto 5%; }
.about.section .content p {
  width: 80%;
  margin: auto;
  word-spacing: -1px; }

.contact.section .container {
  min-height: 350px;
  height: 70vh; }
  @media screen and (max-width: 650px) {
    .contact.section .container {
      min-height: 350px; } }
.contact.section .header {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%; }
  @media screen and (max-width: 650px) {
    .contact.section .header {
      text-align: right; } }
  .contact.section .header h1:first-child {
    color: #3A3A3A;
    font-size: 1.2em; }
  .contact.section .header h1 a {
    color: #E9E8E3; }
  .contact.section .header .sub-header {
    float: right;
    font-weight: 400; }
    @media screen and (max-width: 1350px) {
      .contact.section .header .sub-header {
        width: 44%;
        margin-right: 4%; } }
    @media screen and (max-width: 650px) {
      .contact.section .header .sub-header {
        width: 100%;
        margin: 0;
        font-size: .4em; } }
    @media screen and (max-width: 480px) {
      .contact.section .header .sub-header {
        float: none; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 100; }

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 1em; }

p {
  line-height: 1.5;
  letter-spacing: .17px; }

.sub-header {
  font-size: .158em; }

html {
  height: 100%; }

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media screen and (max-width: 650px) {
    body {
      text-align: center; } }

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 6.66667%; }

.section {
  text-align: right; }
  @media screen and (max-width: 650px) {
    .section {
      text-align: center; } }
  .section .header {
    display: inline-block; }
    .section .header > div {
      float: right; }
    .section .header h1 {
      line-height: 1;
      text-transform: uppercase;
      white-space: nowrap; }
      @media screen and (max-width: 350px) {
        .section .header h1 {
          font-size: .7em; } }
    @media screen and (max-width: 650px) {
      .section .header {
        width: 70%; } }
    @media screen and (max-width: 480px) {
      .section .header {
        width: 100%; } }
  .section .sub-header {
    text-align: center; }
    .section .sub-header hr {
      border: 0;
      height: 3px;
      width: 20%;
      margin: 2% auto 4%;
      clear: both; }
      @media screen and (max-width: 650px) {
        .section .sub-header hr {
          width: 15%; } }

.content {
  padding: 0 8% 12%;
  text-align: center; }
  @media screen and (max-width: 650px) {
    .content {
      padding: 0 0 12%; } }

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

#logo {
  width: 149px;
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (max-width: 480px) {
    #logo {
      display: block;
      float: none; } }

#header-nav {
  display: inline-block;
  margin-top: 85px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase; }
  @media screen and (max-width: 650px) {
    #header-nav {
      font-size: 0.8em; } }
  @media screen and (max-width: 480px) {
    #header-nav {
      float: none;
      margin: auto;
      font-size: 0.76em; } }
  @media screen and (max-width: 350px) {
    #header-nav {
      font-size: .6em; } }
  #header-nav.expanded {
    display: block;
    margin-top: 40px; }
    @media screen and (max-width: 480px) {
      #header-nav.expanded {
        margin: 10% 0; } }
  #header-nav li {
    float: left;
    margin-left: 8px;
    border-bottom: none; }
    #header-nav li:first-child {
      margin-left: 0; }
    #header-nav li:last-child {
      margin-right: -4px; }
    #header-nav li.active-link {
      font-weight: 900; }
    #header-nav li:hover {
      font-weight: 900; }
  #header-nav a {
    display: block;
    padding: 30px 24px;
    margin: -30px -20px; }
    @media screen and (max-width: 350px) {
      #header-nav a {
        padding: 30px 21px;
        /* breaks under 226px */ } }

#collapsed-menu {
  margin-top: 40px; }
  @media screen and (max-width: 480px) {
    #collapsed-menu {
      display: none; } }
  #collapsed-menu a {
    display: block;
    /* icon size */
    width: 23px;
    height: 19px;
    /* to avoid jumps on hover */
    padding: 30px;
    margin: -30px;
    background: url("../images/menu.png") no-repeat 30px; }
  #collapsed-menu:hover {
    cursor: pointer; }

.big-header #main-header {
  height: 139px; }
.big-header #content::before {
  content: " ";
  display: block;
  height: 139px;
  width: 100%; }
.big-header #content .section {
  height: 100%;
  min-height: calc(100vh - 139px); }
  .big-header #content .section.last {
    min-height: calc(100vh - 239px); }
@media screen and (max-width: 480px) {
  .big-header #main-header {
    height: 100px; }
  .big-header #content::before {
    content: " ";
    display: block;
    height: 100px;
    width: 100%; }
  .big-header #content .section {
    height: 100%;
    min-height: calc(100vh - 100px); }
    .big-header #content .section.last {
      min-height: calc(100vh - 200px); } }
@media screen and (max-width: 350px) {
  .big-header #main-header {
    height: 80px; }
  .big-header #content::before {
    content: " ";
    display: block;
    height: 80px;
    width: 100%; }
  .big-header #content .section {
    height: 100%;
    min-height: calc(100vh - 80px); }
    .big-header #content .section.last {
      min-height: calc(100vh - 180px); } }
@media screen and (max-width: 650px) {
  .big-header #logo {
    width: 25%; } }
@media screen and (max-width: 480px) {
  .big-header #logo {
    margin: 2.5% auto; } }
@media screen and (max-width: 350px) {
  .big-header #logo {
    width: 20%; } }

.small-header #main-header {
  height: 111px; }
.small-header #content::before {
  content: " ";
  display: block;
  height: 111px;
  width: 100%; }
.small-header #content .section {
  height: 100%;
  min-height: calc(100vh - 111px); }
  .small-header #content .section.last {
    min-height: calc(100vh - 211px); }
@media screen and (max-width: 480px) {
  .small-header #main-header {
    height: 100px; }
  .small-header #content::before {
    content: " ";
    display: block;
    height: 100px;
    width: 100%; }
  .small-header #content .section {
    height: 100%;
    min-height: calc(100vh - 100px); }
    .small-header #content .section.last {
      min-height: calc(100vh - 200px); } }
@media screen and (max-width: 350px) {
  .small-header #main-header {
    height: 80px; }
  .small-header #content::before {
    content: " ";
    display: block;
    height: 80px;
    width: 100%; }
  .small-header #content .section {
    height: 100%;
    min-height: calc(100vh - 80px); }
    .small-header #content .section.last {
      min-height: calc(100vh - 180px); } }
.small-header #logo {
  width: 111px;
  margin-top: 18px; }
  @media screen and (max-width: 650px) {
    .small-header #logo {
      width: 20%; } }
  @media screen and (max-width: 480px) {
    .small-header #logo {
      margin: 2.5% auto; } }

@media screen and (max-width: 650px) {
  .tiles {
    padding: 0 0 11%; } }
.tiles .tile {
  display: inline-block;
  width: 50%;
  margin-bottom: 4%;
  vertical-align: top; }
  @media screen and (max-width: 480px) {
    .tiles .tile {
      margin-bottom: 10%;
      width: 100%; } }
.tiles.three .tile {
  width: 33%; }
  @media screen and (max-width: 650px) {
    .tiles.three .tile {
      width: 80%;
      margin: 10% auto; } }

@media screen and (max-height: 550px) and (orientation: landscape) {
  #main-header #logo {
    width: 18%;
    margin: 2% 0;
    float: left; }
  #main-header #header-nav {
    margin-top: 5%; }
    #main-header #header-nav.expanded {
      float: none;
      width: 100%;
      height: 100vh;
      margin: 60px auto;
      font-size: .06em;
      -webkit-transition: display 0.2s;
      -ms-transition: display 0.2s;
      transition: display 0.2s; }
      #main-header #header-nav.expanded li {
        width: 100%;
        float: none;
        margin: 0 0 17%; }
        #main-header #header-nav.expanded li:first-child {
          margin-top: 20px; }
        #main-header #header-nav.expanded li a {
          padding: 0;
          margin: 0; }
  #main-header #collapsed-menu {
    margin: 20px auto;
    float: none; }

  .big-header #main-header {
    height: 60px; }
  .big-header #content::before {
    content: " ";
    display: block;
    height: 60px;
    width: 100%; }
  .big-header #content .section {
    height: 100%;
    min-height: calc(100vh - 60px); }
    .big-header #content .section.last {
      min-height: calc(100vh - 160px); }

  .small-header #main-header {
    height: 60px; }
  .small-header #content::before {
    content: " ";
    display: block;
    height: 60px;
    width: 100%; }
  .small-header #content .section {
    height: 100%;
    min-height: calc(100vh - 60px); }
    .small-header #content .section.last {
      min-height: calc(100vh - 160px); }
  .small-header#site {
    width: calc(100vw - 50px);
    padding-left: 50px; }
  .small-header #main-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 44px;
    height: 100vh;
    padding: 3px;
    margin: 0;
    text-align: center; }
    .small-header #main-header #logo {
      float: none;
      margin: 2% auto;
      width: 100%; }
  .small-header #content .section.last {
    min-height: calc(100vh - 100px); }

  #content .sub-header {
    float: none;
    font-size: .12em; }
  #content .home.section .container {
    min-height: 100px;
    height: calc(100vh - 60px); }
  #content .about.section .header {
    padding-bottom: 5%; }
  #content .about.section .tiles.three .tile {
    width: 32%;
    margin: auto;
    font-size: .91em; }
  #content .contact.section .container {
    min-height: 150px; }
    #content .contact.section .container .header h1 {
      font-size: .85em; }
    #content .contact.section .container .sub-header {
      float: right;
      font-size: .25em; } }

/*# sourceMappingURL=style.css.map */
