body {
  font-family: $font_family_1;
  font-weight: 100;
  color: black;
}

h1 {
  font-family: $font_family_2;
  font-weight: 600;
	font-size: 1em;
}

p {
  line-height: 1.5;
  letter-spacing: .17px;
}

.sub-header {
  font-size: .158em;
}