@mixin setLayout($h) {
  
  #main-header {
    height: $h;
  }

  #content {
    &::before {
      content: " ";
      display: block;
      height: $h;
      width: 100%;
    }

    .section {
      height: 100%;
      min-height: calc(100vh - #{$h});

      &.last {
        $th: $h + $footer_h;
        min-height: calc(100vh - #{$th});
      }
    }
  }
}

@mixin transition($args, $t) {
  -webkit-transition: $args $t;
  -ms-transition: $args $t;
  transition: $args $t;
}

@mixin transform($args, $t) {
  -webkit-transform: $args $t;
  -ms-transform: $args $t;
  transform: $args $t;
}

@mixin transformNone {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;  
}

@function cp($target, $container) {
  @return ($target/$container) * 100%;
}

%clearfix {
 // For modern browsers
  &:before,
  &:after {
    content:"";
    display:table;
  }  
  &:after {
    clear:both;
  }  
  // For IE 6/7 (trigger hasLayout)
  & {
    zoom:1;
  }
}

@mixin vCentered($y:50%) {
  position: relative;
  top: $y;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}