=transition($args...) 
  -webkit-transition: $args
  -ms-transition: $args
  transition: $args


=transform($args...) 
  -webkit-transform: $args
  -ms-transform: $args
  transform: $args


=hide 
  visibility: hidden
  opacity: 0
  +transition(visibility 0s linear 0.2s, opacity 0.1s linear)


=show 
  visibility: visible
  opacity: 1
  +transition(visibility 0s linear 0.3s, opacity 0.3s linear)


%clearfix
  // For modern browsers
  &:before,
  &:after 
    content: ""
    display: table
    clear: both
  // For IE 6/7 (trigger hasLayout)
  & 
    zoom: 1
  

=vCentered($y:50%) 
  position: relative
  top: $y
  +transform(translateY(-50%))


=fixed($t: false, $r: false, $b: false, $l: false)
  position: fixed
  z-index: 2000
  @if $t
    @if not $r and not $b and not $l
      top: $t
      right: $t
      bottom: $t
      left: $t
    @else
      top: $t
  @if $r
    right: $r
  @if $b
    bottom: $b
  @if $l
    left: $l  
  


$break-smallest: 350px !default
$break-small: 480px !default
$break-medium: 650px !default
$break-large: 1350px !default

=respond-to($media, $val:max) 
  @if $media == smallest
    @media screen and (#{$val}-width: $break-smallest)
      @content

  @if $media == small
    @media screen and (#{$val}-width: $break-small)
      @content 
    
  @else if $media == medium 
    @media screen and (#{$val}-width: $break-medium)
      @content 

  @else if $media == large 
    @media screen and (#{$val}-width: $break-large)
      @content 
  
  @else if $media == landscape 
    @media screen and (#{$val}-height: $break-medium) and (orientation: landscape)
      @content 
  
  @else if $media == small-height 
    @media screen and (#{$val}-height: $break-medium) and (#{$val}-width: 700px)
      @content 