@mixin collapsedMenu {
  #collapsed-menu {

    @include respond-to(landscape) { display: none; }
     
    a {
      display: block;
      // -------- icon size
      width: 23px;
      height: 19px;
      // -------- to avoid jumps on hover
      padding: 30px;
      margin: -30px;
      background: url('../images/menu.png') no-repeat 30px;
    }
      
    &:hover { cursor: pointer; }

    // ----------------------------- STATE 1
    .state1 & {
      @include hide;
      @include respond-to(small) { display: none; }
    }


    // ----------------------------- STATE 2
    .state2 & {
      @include show;
      margin-top: 40px;
      @include respond-to(small) { display: none; }

      &:hover { @include hide; }
    }

    .expanded + & { @include hide; }
  }
}