@mixin footer {
  footer.container {
    height: $footer_h_1;

    @media screen and (max-width: 480px) {
      height: $footer_h_2;
    } 

    @media #{$LANDSCAPE} {
      height: $footer_h_2;
    } 

    > div {
      @include vCentered;

      @media screen and (max-width: 650px) {
        display: block;
        width: 100%;
        margin: 3% auto 0;
        transform: none;
        top: 0;
      }
    }
    
    .site-info {
      float: left;
    }

    .social-links {
      float: right;
     
      li {
        display: inline-block;
        padding-left: 6px;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          padding-left: 0;
        }
     
        a {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
