@mixin footer {
  footer.container {
    
    height: $footer_h_1;
    @include respond-to(small) { height: $footer_h_2; } 
    @include respond-to(landscape) { height: $footer_h_2; } 

    > div {

      height: 100%;

      > * { @include vCentered; }

      @include respond-to(medium) { 
        display: block;
        width: 100%;
        height: 50%;
      }
    }
    
    .site-info { float: left; }

    .social-links {
      
      float: right;
     
      li {
        display: inline-block;
        padding-left: 6px;

        &:hover { cursor: pointer; }

        &:first-child { padding-left: 0; }
     
        a {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
