@mixin details {
  .details-wrapper {
    
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    @include transition(opacity 1s);

    // redefine font-size put to 0 on parent a
    font-size: 30px;
    @include respond-to(medium) { font-size: 22px; }
    @include respond-to(small) { font-size: 30px; }

    &:hover { opacity: 1; }

    .details {
      position: absolute;
      bottom: 0; left: 0; right: 0;
    }

    .title {
      font-size: 1em;
      @include respond-to(small) { font-size: .75em; }      
    }

    p {
      font-size: 0.5em;

      @include respond-to(small) { 
        margin-top: 1%;
        font-size: .5em;
        line-height: 1.1;
      }
    }
  }  
}

@mixin imgAnimation {
  .tile {
    
    &:hover {
      img {
        @include transform(translate(0, -33px), scale(0.55));

        @include respond-to(small) { @include transform(translate(0 , -50px), scale(0.8)); }
      }
    }
      
    img { @include transition(transform .4s); }
  }
}

@mixin tileLink {
  .tile {
    
    &:hover { cursor: pointer; }

    a {
      display: block;
      position: relative;
      width: 95%;
      @include respond-to(small) { width: 100%; }
      margin: auto;
      // remove extra height otherwise adds to tile
      font-size: 0;
      color: inherit;
    }
  }
}

// ------------------------ SIMPLE GRID

@mixin tile {
  .tile {
    
    display: inline-block;
    width: 50%;
    margin-bottom: 4%;
    vertical-align: top;

    @include respond-to(small) {
      margin-bottom: 10%;
      width: 100%;
    }
  }
}

@mixin grid {
  .grid {
    
    @include respond-to(medium) { padding: 0 0 11%; }

    @include tile;

    &.three .tile {
      width: 33%;
      
      @include respond-to(medium) { 
        width: 100%;
        margin: 10% auto;
      }

      @include respond-to(smallest) { 
        width: 100%;
      }

      @include respond-to(landscape) { 
        width: 32%;
        margin: auto;
      }
    }
  }
}

