@mixin landscape($h, $w) {
  @media screen and (max-device-height: 550px) and (orientation: landscape) {
    
    #main-header {

      #logo {
        width: 18%;
        margin: 2% 0;
        float: left;
      }

      #header-nav {
        margin-top: 5%;

        &.expanded {
          float: none;  
          width: 100%;
          height: 100vh;
          margin: 60px auto;
          @include show;

          li {
            width: 100%;
            float: none;
            margin: 0 0 17%; 

            &:first-child {
              margin-top: 20px;
            } 

            a {
              padding: 0;
              margin: 0;
            } 
          }
        }
      }

      #collapsed-menu {
        margin: 20px auto;
        float: none;
      }
    }

    .big-header {
      @include setLayoutHeights($h);
    }

    .small-header {
      @include setLayoutHeights($h);

      &#site {
        width: calc(100vw - #{$w});
        padding-left: $w;
      }

      #main-header {
        position: fixed;
        left: 0;
        top: 0;
        width: $w - 6;
        height: 100vh;
        padding: 3px;
        margin: 0;

        #logo {
          float: none;
          margin: 2% auto;
          width: 100%;
        }
      }

      #content .section.last {
          min-height: calc(100vh - #{$footer_h_1});
      }
    }

    #content {

      .header { 
        @media screen and (max-width: 650px) {
          width: initial;
        }
      }

      .sub-header {
        float: none;
      }

      .home.section {
        .container {
         // min-height: 100px;
          min-height: calc(100vh - #{$h});

          .header {
            float: right;
          }
        }
      }

      .about.section {
        .header {
          width: 80%;
          padding-bottom: 5%;

          > div {
            float: none;
          }
        }

        .tiles.three .tile {
          width: 32%;
          margin: auto;
        }
      }

      .contact.section {

        .container {
          
          min-height: 150px;

          .sub-header {
            float: right;
          }
        }
      }
    }
  }
}