@import "logo"
@import "headerMenu"
@import "collapsedMenu"

=mainHeader
  #main-header
    +transition(all .5s)
    position: fixed
    +respond-to(small, max)
      position: static
    top: 0
    left: 0
    right: 0
    z-index: 2000  
  +logo
  +headerMenu
  +collapsedMenu
