.about	{

  &.section .content {

  	@media screen and (max-width: 1350px) and (min-width: 650px) {
		  	padding: 0 0 12%;
		}

  	&.tiles.three .tile {
  		@media #{$LANDSCAPE} {
  			width: 32%;
        margin: auto;
  		}
  	}

    .img-wrapper {
      width: 70%;
      max-width: 200px;
      margin: 0 auto 8%;
    }

    hr {
      width: 15%;
      margin: 0 auto 5%;
    }

    p {
      width: 80%;
      margin: auto;
      word-spacing: -1px;

      @media screen and (max-width: 480px) {
		  	width: 100%;
			}	
    }
  }
}
