.about {
	.fittextjs {
	  width: cp(530px, $max_layout_width);
		padding: 167px 0 184px;

		@media screen and (max-width: 1350px) {
	    padding: 6% 0 12%;
		}
	  
	  .sub-header {
	    @media screen and (min-width: 650px) {
	      font-size: .13em;
	    }
	  }
	}
}