.contact.section {
	.container {
		min-height: 650px;
		height: 70vh;

		@media screen and (max-width: 650px) {
			min-height: 350px;
		}
	}
	
	.header {
    @include vCentered(40%);

    width: 100%;
	  padding: 165px 0 250px;

	  @media screen and (max-width: 1350px) {
      padding: 13% 0 20%;
	  }

	  @media screen and (max-width: 650px) {
      text-align: right;
	  }

	  h1 {
	  	&:first-child {
	  		@extend .color-2;
	  		font-size: 1.2em;
	  	}

	  	a {
		  	@extend .color-1;
		  }
		}
  
		.sub-header {
		  float: right;
		  font-weight: 400;

		  @media screen and (max-width: 1350px) {
		  	width: 44%;
		    margin-right: 4%;
		  }

		  @media screen and (max-width: 650px) {
		  	width: 100%;
		  	margin: 0;
		    font-size: .4em;
		  }

		  @media screen and (max-width: 480px) {
		    float: none;
		  }
		}
	}
}