.contact.section {
	.container {
		min-height: 350px;
		height: 70vh;

		@media screen and (max-width: 650px) {
			min-height: 350px;
		}
	}
	
	.header {
    @include vCentered(40%);

    width: 100%;
  
		.sub-header {
		  float: right;

		  @media screen and (max-width: 1350px) {
		  	width: 44%;
		    margin-right: 4%;
		  }

		  @media screen and (max-width: 650px) {
		  	width: 100%;
		  	margin: 0;
		  }

		  @media screen and (max-width: 480px) {
		    float: none;
		  }
		}
	}
}