.contact.section {
	.container {
		@media screen and (max-width: 350px) {
			min-height: 150px;
		}
	}
	
	.header {
   	position: relative;
   //	height: 100%;
   	//padding: 5% 0;

    width: 100%;
  
		.sub-header {
		  float: right;

		  @media screen and (max-width: 1350px) {
		  	width: 44%;
		    margin-right: 4%;
		  }

		  @media screen and (max-width: 650px) {
		  	width: 100%;
		  	margin: 0;
		  }

		  @media screen and (max-width: 480px) {
		    float: none;
		  }
		}
	}
}