@mixin setLayoutHeights($h) {
  
  #main-header {
    height: $h;
  }

  #sections {
  	
  	&::before {
	    height: $h;
  	}

	  .section {
	    height: 100%;
	    min-height: calc(100vh - #{$h});

	    &.last {
	    	$th: $h + $footer_h_1;
	    	min-height: calc(100vh - #{$th});
	    }
	  }
	}
}


// -------------------------------------------- BODY

html {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#sections::before {
	content: " ";
	display: block;
	width: 100%;
}

// --------------------------------- CONTAINER CLASS

.container {
	max-width: $max_layout_width;
	height: 100%;
	margin: 0 auto;
	padding: 0 cp($layout_padding, $max_layout_width);
}


// -----------------------------------------  HEADER

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  @include transition(all, .5s);
}

#logo {
  width: $logo_w_big;
  margin-top: 40px;
  @include transition(all, .3s);

  @media screen and (max-width: 480px) {
    display: block;
    float: none;
  }
}

@include headerMenu;


// --------------------- LAYOUT WITH BIG HEADER

.big-header {
  
  @include setLayoutHeights($header_h_1);

  @media screen and (max-width: 480px) {
    @include setLayoutHeights(100px);
  }

  @media screen and (max-width: 350px) {
    @include setLayoutHeights(80px);
  }

  #logo {
    @media screen and (max-width: 650px) {
      width: 25%;
    }

    @media screen and (max-width: 480px) {
      margin: 2.5% auto;
    }

    @media screen and (max-width: 350px) {
      width: 20%;
    }
  }
}


// ------------------- LAYOUT WITH SMALL HEADER

.small-header {
  
  @include setLayoutHeights($header_h_2);

  @media screen and (max-width: 480px) {
    @include setLayoutHeights($header_h_3);
  }

  @media screen and (max-width: 350px) {
    @include setLayoutHeights($header_h_4);
  }

  #logo {
    width: $logo_w_small;
    margin-top: 18px;

    @media screen and (max-width: 650px) {
      width: 20%;
    }

    @media screen and (max-width: 480px) {
      //margin: 3% auto 2%;
      margin: 2.5% auto;
    }
  }
}


// ----------------------------------------- SECTION
.section {
	@extend %clearfix;

	@media screen and (max-width: 650px) {
 //   width: 70%;
	}

	@media screen and (max-width: 480px) {
    width: 100%;
	}

	// -------------------------- SECTION HEADER
	.header {
    
    display: inline-block;

    @media screen and (max-width: 650px) {
      width: 70%;
	  }

	  @media screen and (max-width: 480px) {
      width: 100%;
	  }

    > div {
      float: right;
      @extend %clearfix;

      @media screen and (max-width: 650px) {
      	float: none;
	  	}
    }
		
		// --------------- SECTION SUB-HEADER
		.sub-header {

	    hr {
	      border: 0;
		    height: 3px;
		    width: 20%;
		    margin: 2% auto 4%;
		    clear: both;

	      @media screen and (max-width: 650px) {
	        width: 15%;
	      }
	    }
	  }
	}

	// -------------------------- SECTION CONTENT
	.content {

		padding: 0 8% 12%;
		text-align: center;
	  
	  @media screen and (max-width: 650px) {
	    padding: 0 0 12%;
	  }
	}
}

// --------------------------------------- GRID

@include grid;


// ---------------------------------- LANDSCAPE

@include landscape($header_h_3, $header_vertical_w);
