@mixin setLayoutHeights($h, $f) {
  
  #main-header {
    height: $h;
  }

  #sections {
  	
  	&::before {
	    height: $h;
  	}

	  .section {
	    height: 100%;
	    min-height: calc(100vh - #{$h});

	    &.last {
	    	$th: $h + $f;
	    	min-height: calc(100vh - #{$th});
	    }
	  }
	}
}


// -------------------------------------------- BODY

html {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}


// --------------------------------- CONTAINER CLASS

.container {
	max-width: $max_layout_width;
	height: 100%;
	margin: 0 auto;
	padding: 0 cp($layout_padding, $max_layout_width);
}


// ------------------------------------- MAIN HEADER

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  @include transition(all .5s);

  #header-nav {
  	@include transition(all .5s);

  	@media screen and (max-width: 480px) {
      float: none;
      margin: auto;
    }

    li {
    	&.active-link,
    	li:hover {
    		border-bottom-style: solid;
    	}

    	&.no-touch {
      	border: none;
    	}
    }
  }
}

#logo {

  @include transition(all .3s);

  @media screen and (max-width: 480px) {
    display: block;
    float: none;
  }
}

@include headerMenu;


// ----------------------------- LAYOUT STATE 1
.state1 {

	@include setLayoutHeights($header_h_1, $footer_h_1);

	#logo {
  	width: $logo_w_big;
  	margin-top: 40px;
  }
  
  #header-nav {
    display: inline-block;
    margin-top: 85px;

    &.expanded {
      @include show;
    }
 	}

 	#collapsed-menu {
 //		display: none;
 		@include hide;
 	}


  @media screen and (max-width: 650px) {
    
    #logo {
    	width: 25%;
    }
  }


  @media screen and (max-width: 480px) {
    
    @include setLayoutHeights($header_h_3, $footer_h_1);

    #logo {
    	margin: 2.5% auto;
    }

    #header-nav {
    	margin: 0 auto;
 		
      &.expanded {
      	margin: 10% 0;
      }
    }

    #collapsed-menu {
    	display: none;
    }
  }


  @media screen and (max-width: 350px) {
    
    @include setLayoutHeights($header_h_4, $footer_h_1);

    #logo {
    	width: 20%;
    }
  }
}


// ----------------------------- LAYOUT STATE 2
.state2 {
  
  @include setLayoutHeights($header_h_2, $footer_h_1);

  #logo {
    width: $logo_w_small;
    margin-top: 18px;
  }

  #header-nav {
  	display: none;
  	@include hide;

  	&.expanded {
   		display: block;
      margin-top: 40px;
      @include show;
    }
  }

  #collapsed-menu {
 		@include show;
 		margin-top: 40px;

 		&:hover {
 			@include hide;
 		}
 	}

 	.expanded + #collapsed-menu {
 		@include hide;
 	}

	@media screen and (max-width: 650px) {
    #logo {
    	width: 20%;
	  }
  }

  @media screen and (max-width: 480px) {
    
    @include setLayoutHeights($header_h_3, $footer_h_1);

    #logo {
    	margin: 2.5% auto;
	  }

	  #collapsed-menu {
 			display: none;
 		}

 		#header-nav {
  		display: inline-block;
  		@include show;
  	}

  }

  @media screen and (max-width: 350px) {
    
    @include setLayoutHeights($header_h_4, $footer_h_2);
  }
}


// ---------------------------------------- SECTIONS

#sections::before {
	content: " ";
	display: block;
	width: 100%;
}

.section {
	@extend %clearfix;

	@media screen and (max-width: 480px) {
    width: 100%;
	}

	// -------------------------- SECTION HEADER
	.header {
    
    display: inline-block;

    @media screen and (max-width: 650px) {
      width: 70%;
	  }

	  @media screen and (max-width: 480px) {
      width: 100%;
	  }

    > div {
     // float: right;
      @extend %clearfix;

      @media screen and (max-width: 650px) {
      	float: none;
	  	}
    }
		
		// --------------- SECTION SUB-HEADER
		.sub-header {

	    hr {
	      border: 0;
		    height: 3px;
		    width: 20%;
		    margin: 2% auto 4%;
		    clear: both;

	      @media screen and (max-width: 650px) {
	        width: 15%;
	      }
	    }
	  }
	}

	// -------------------------- SECTION CONTENT
	.content {

		padding: 0 8% 12%;
		text-align: center;
	  
	  @media screen and (max-width: 650px) {
	    padding: 0 0 12%;
	  }
	}
}

// --------------------------------------- GRID

@include grid;


// ---------------------------------- LANDSCAPE

@include landscape($header_h_5, $header_vertical_w);
